<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="medicos" class="nav-link" routerLinkActive="active">Medicos List</a>
    </li>
    <li class="nav-item">
        <a routerLink="medicos/add" class="nav-link" routerLinkActive="active">Add Medico</a>
    </li>
    <li class="nav-item">
      <a routerLink="clientes" class="nav-link" routerLinkActive="active">Clientes List</a>
  </li>
  <li class="nav-item">
      <a routerLink="clientes/add" class="nav-link" routerLinkActive="active">Add Cliente</a>
  </li>
  <li class="nav-item">
    <a routerLink="consultas" class="nav-link" routerLinkActive="active">Consultas List</a>
</li>
<li class="nav-item">
    <a routerLink="consultas/add" class="nav-link" routerLinkActive="active">Marcar Consulta</a>
</li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>All Rights Reserved 2020 @Caio Viga</span>
  </div>
</footer>
